<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- IRC Server Informatikon -->
  <IRCServer>server</IRCServer>
  <IRCPort>port</IRCPort>
  <IRCChannel>#channel</IRCChannel>
  
  <!-- IRC Relay Nickname. Consider something short. -->
  <IRCNick>nick</IRCNick>
  
  <!-- The user that the Auth String is sent to -->
  <IRCAuthUser>some user</IRCAuthUser>
  <!-- Auth name used for login -->
  <IRCLoginName>auth login name</IRCLoginName>
  <!-- 
	The command that is sent to the auth user. Looks like the following for gamesurge
	AUTH *login-name* *pass* 
	-->
  <IRCAuthString>some command here</IRCAuthString>
  
  <!--
  Discord bot token used to log in.
  Use the following to grab your bot token & add the bot to your server.
  https://github.com/reactiflux/discord-irc/wiki/Creating-a-discord-bot-&-getting-a-token
  -->
  <DiscordBotToken>token</DiscordBotToken>
  <!-- The name of the Discord guild (aka server) to target -->
  <DiscordGuildName>server name</DiscordGuildName>
  <!-- The name of the Discord text channel to send/recieve msgs to/from -->
  <DiscordChannelName>text channel</DiscordChannelName>
</Config>